<!DOCTYPE html>
<%- include("./partials/header.ejs") %>

<body>
    <h1><%= message %></h1>
    <h2><%= error.staus %></h2>
    
</body>
</html>

<!-- extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack} -->